In [191]:
import pandas as pd
import re
from bs4 import BeautifulSoup
import requests

In [192]:
url = 'https://www.imdb.com/list/ls058011111/?sort=list_order,asc&mode=detail&page='

In [232]:
actor_list = []
score_list = []

In [233]:
for page in range(1, 11):
    r = requests.get(url+str(page))
    soup = BeautifulSoup(r.text, 'html.parser')

    actors = soup.find_all('h3', class_='lister-item-header')

    for actor in actors:
        name = actor.text
        name_elements = name.split('\n')
        rank = re.sub('[^A-Za-z0-9]+','',name_elements[1])
        score_list.append(1000 - int(rank) + 1)
        actor_list.append(name_elements[2].lstrip())

In [234]:
len(actor_list)

1000

In [235]:
actor_score_list = list(zip(actor_list, score_list))

In [236]:
actor_score_df = pd.DataFrame(actor_score_list, columns = ['actor', 'score'])

In [237]:
actor_score_df.head()

               actor  score
0     Robert De Niro   1000
1     Jack Nicholson    999
2      Marlon Brando    998
3  Denzel Washington    997
4    Humphrey Bogart    996

In [238]:
actor_score_df.to_csv('Resources/actors.csv')